<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xpb.mapper.SongMapper">
    <!--
         resultMap标签表示将查询结果通过一个中转封装成实体类对象
         一般用于实体类属性名称与查询结果的列名称不一致的时候，或者需要关联查询的时候。
         当查询结果有多行数据的时候，它会自动去循环处理。
      -->
    <resultMap id="SongResultMap" type="org.xpb.domain.Song">
        <id column="id"  property="id"/>
        <result column="singer_id" property="singerId"/>
        <result column="name" property="name"/>
        <result column="album" property="album"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="pic" property="pic"/>
        <result column="lyric" property="lyric"/>
        <result column="url" property="url"/>
        <result column="pic_local" property="picLocal"/>
        <result column="lyric_local" property="lyricLocal"/>
        <result column="url_local" property="urlLocal"/>
<!--        <association property="image" javaType="org.xpb.domain.Image">-->
<!--            <id column="imageid"  property="id"/>-->
<!--            <result column="imageurl" property="imageurl"/>-->
<!--            <result column="imagetitle" property="imagetitle"/>-->
<!--            <result column="imagetype" property="imagetype"/>-->
<!--            <result column="imagestate" property="imagestate"/>-->
<!--        </association>-->
    </resultMap>
</mapper>